{% extends 'base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
    <div class="container">
     <br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">  
                    <div class="card-body">
                        <h2>¿Problemas autenticandose?</h2><br>
                        <span>Solicite una recuperacion de contraseña y le guiaremos en el proceso</span>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy}}

                            <input type="submit" value="Recuperar Contraseña" class="btn btn-success float-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ mensaje }}
{% endblock %}