{% extends 'base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<div class="container">
    <br><br><br>
       <div class="row">
           <div class="col-12 col-md-6 offset-md-3">
               <div class="card">  
                   <div class="card-body">
                    <h3>Recuperacion de contraseña completado</h3>
                    <p>Se ha cambiado la contraseña correctamente.Ahora puede loguearse con sus nuevas credenciales</p>
                    <a href="{% url 'login' %}">Log in</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
{{ mensaje }}
{% endblock %}