{% extends 'base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<div class="container">
    <br><br><br>
       <div class="row">
           <div class="col-12 col-md-6 offset-md-3">
               <div class="card">  
                   <div class="card-body">
                    <h3>CORREO PARA RECUPERAR CONTRASEÑA ENVIADO</h3>
                    <p>Hemos enviado un email con las instrucciones para recuperar su contraseña.Lo recibira en la brevedad.</p>
                    <p>Si no recibe un email,asegurese de haber escrito corretamente su direccion de correo electronico y revise su papelera de spam</p>
                   </div>
               </div>
           </div>
       </div>
   </div>

{{ mensaje }}
{% endblock %}