{% extends 'base.html' %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Usuario.css'%}">
{% endblock %}
{% block contenido %}
    {% load crispy_forms_tags %}
    <div class="container">
     <br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>REGISTRO DE USUARIO</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy}}

                            <a href="{% url 'listar-proveedor' %}">Volver a inicio</a>

                            <input type="submit" value="registrar" class="btn btn-success float-right">
                        </form>

                    </div>
                </div>

            </div>
        </div>


    </div>
{% endblock %}
