*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}

.navbar{
height: 70px;
background: #ffffff;
box-shadow: 0 3px 15px rgba(0,0,0,.4);
}

.navbar ul li a{
color: white;
display: block;
padding: 0 10px;
margin: 5px;
font-size: 15px;
}

.navbar-brand{  
    padding: 2%;
    margin: 5px;
    line-height: 0px;
    font-size: 20px;
}

