{% extends 'base.html' %}
{%load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/PRODUCTO.css'%}">
{% endblock %}

{% block contenido %}
{% load crispy_forms_tags %}
<br><br>

<div class="col-12 col-md-6 offset-md-3">
<h2>MODIFICAR PRODUCTO</h2>
<form action="" class="" method="post">


    {% csrf_token %}
    <div class="card">
        <table>
            {{ form | crispy }}
        </table>
    </div>
    <input type="submit" value="Editar" id="btnGuardar" class="btn btn-primary">
    <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-primary">
</form>
</div>

{{ mensaje }}
{% endblock %}